# Environnement
.venv/
.env
.env.*
!.env.example

# Données (trop volumineuses pour git)
data/raw/
data/processed/
data/test_ood/

# Modèles entraînés
/models/

# MLflow
mlflow/

# Logs
logs/

# MkDocs
site/

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Editor
.vscode/

# Guide
PROJECT_GUIDE.md
